/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #f8bef9, #e371e5);
}

.contenedor {
    text-align: center;
    background-color: #ffd7ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #e371e5;
}

p {
    color: #000000;
    font-size: 18px;
}

button {
    background-color: #FF99CC;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
} */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #f8bef9, #e371e5);
}

.contenedor {
    text-align: center;
    background-color: #ffd7ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    margin: 0 auto;
}

h1 {
    color: #e371e5;
}

p {
    color: #000000;
    font-size: 18px;
}

button {
    background-color: #FF99CC;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .contenedor {
        padding: 10px;
    }
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }
    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}